ul {
  color: red;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas: "header summary"
                       "ingredients logo"
                       "instructions instructions"
                       "notes notes";
  grid-gap: 0.75em;
  width: 50%;
  margin: auto;
  background-color: silver;
  padding:0.75em;
  border-radius: 0.5em;
}
.ingredients {
  background-color: #DDD;
  border-radius: 0.5em;
  padding: 1em;
  grid-area: ingredients;
}
.instructions {
  grid-area: instructions;
  background-color: #DDD;
  border-radius: 0.5em;
  padding: 1em;
}
.logo {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  grid-area: logo;
}
.notes {
  grid-area: notes;
  padding: 0.5em;
  background-color: #DDD;
  border-radius: 0.5em;
}
.summary {
  grid-area: summary;
  padding: 0.5em;
  background-color: #DDD;
  border-radius: 0.5em;
}
